IoT/nodered_pale.json
[
    {
        "id": "564e011e075fac28",
        "type": "tab",
        "label": "PALE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c123303c31dd9f0f",
        "type": "comment",
        "z": "564e011e075fac28",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "2f32658451e5e26a",
        "type": "comment",
        "z": "564e011e075fac28",
        "name": "ESP8266 MQTT Temperature Thermistor NTC ",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "596b024d4a2187bf",
        "type": "mqtt in",
        "z": "564e011e075fac28",
        "name": "",
        "topic": "sensor/NTC/tempInC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8234be649768a71d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "70ad455aa3131199",
                "4475b4bb4a421d76",
                "4a4eca621173be83"
            ]
        ]
    },
    {
        "id": "7ee41d995ab826ad",
        "type": "comment",
        "z": "564e011e075fac28",
        "name": "ESP8266 MQTT MQ135",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "91372448333e6e0a",
        "type": "mqtt in",
        "z": "564e011e075fac28",
        "name": "",
        "topic": "sensor/MQ135/ammonia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8234be649768a71d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "ef9378b8d47e25a2",
                "743f810ef6189b68",
                "4a4eca621173be83"
            ]
        ]
    },
    {
        "id": "481c6f74cdf6a946",
        "type": "comment",
        "z": "564e011e075fac28",
        "name": "ESP8266 MQTT Ph",
        "info": "",
        "x": 110,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e4d59c98576347d",
        "type": "mqtt in",
        "z": "564e011e075fac28",
        "name": "",
        "topic": "sensor/PH/phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8234be649768a71d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "f454422b23522aef",
                "084f54d093f14b96",
                "4a4eca621173be83"
            ]
        ]
    },
    {
        "id": "274cf9e79cee4818",
        "type": "debug",
        "z": "564e011e075fac28",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "0a4bddc17bda63a5",
        "type": "mysql",
        "z": "564e011e075fac28",
        "mydb": "372add3cda52af51",
        "name": "DATABASE PALE",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "274cf9e79cee4818"
            ]
        ]
    },
    {
        "id": "379237cafb075281",
        "type": "function",
        "z": "564e011e075fac28",
        "name": "sending",
        "func": "// Log the values before constructing the SQL query\nconsole.log(\"Temperature_NTC:\", msg.payload[0]);\nconsole.log(\"Ammonia_MQ135:\", msg.payload[1]);\nconsole.log(\"Ph_Sensor:\", msg.payload[2]);\n\n// Your existing code to construct the SQL query\nmsg.topic = \"INSERT INTO pale_db.pale_tables (Temperature_NTC, Ammonia_MQ135, Ph_Sensor)\" +\n            \"VALUES ('\" + msg.payload[0] + \"','\" + msg.payload[1] + \"','\" + msg.payload[2] + \"')\";\n\n// Log the constructed SQL query\nconsole.log(\"Constructed SQL query:\", msg.topic);\n\n// Send the message to the MySQL node\nreturn msg;\n\n// // Construct the SQL query\n// msg.topic = \"INSERT INTO pale_db.pale_tables (Temperature_NTC, Ammonia_MQ135, Ph_Sensor)\" +\n//             \"VALUES (\" + parseFloat(msg.payload[0]) + \",\" + parseFloat(msg.payload[1]) + \",\" + parseFloat(msg.payload[2]) +\")\";\n\n// // Log the constructed SQL query\n// console.log(\"Constructed SQL query:\", msg.topic);\n\n// return msg;\n\n// // Convert string values with comma to float\n// const temperatureNTC = parseFloat(msg.payload[0].replace(',', '.'));\n// const ammoniaMQ135 = parseFloat(msg.payload[1].replace(',', '.'));\n// const phSensor = parseFloat(msg.payload[2].replace(',', '.'));\n\n// // Construct the SQL query\n// msg.topic = \"INSERT INTO pale_db.pale_tables (Temperature_NTC, Ammonia_MQ135, Ph_Sensor)\" +\n//             \"VALUES (\" + temperatureNTC + \",\" + ammoniaMQ135 + \",\" + phSensor +\")\";\n\n// // Log the constructed SQL query\n// console.log(\"Constructed SQL query:\", msg.topic);\n\n// return msg;\n\n// // Convert string values with comma to float\n// const temperatureNTC = parseFloat(msg.payload[0].replace(',', '.'));\n// const ammoniaMQ135 = parseFloat(msg.payload[1].replace(',', '.'));\n// const phSensor = parseFloat(msg.payload[2].replace(',', '.'));\n\n// // Construct the SQL query\n// msg.topic = \"INSERT INTO pale_db.pale_tables (Temperature_NTC, Ammonia_MQ135, Ph_Sensor)\" +\n//             \"VALUES (\" + temperatureNTC + \",\" + ammoniaMQ135 + \",\" + phSensor +\")\";\n\n// // Log the constructed SQL query\n// console.log(\"Constructed SQL query:\", msg.topic);\n\n// return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 360,
        "wires": [
            [
                "0a4bddc17bda63a5",
                "274cf9e79cee4818"
            ]
        ]
    },
    {
        "id": "4a4eca621173be83",
        "type": "join",
        "z": "564e011e075fac28",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "379237cafb075281"
            ]
        ]
    },
    {
        "id": "4475b4bb4a421d76",
        "type": "ui_chart",
        "z": "564e011e075fac28",
        "name": "1  Hour",
        "group": "bd16d2bb7a66f39a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "1  Hour",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "70ad455aa3131199",
        "type": "ui_gauge",
        "z": "564e011e075fac28",
        "name": "",
        "group": "bd16d2bb7a66f39a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature In C",
        "label": "ºC",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "743f810ef6189b68",
        "type": "ui_chart",
        "z": "564e011e075fac28",
        "name": "",
        "group": "c079f1c984b05fe4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Ammonia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ef9378b8d47e25a2",
        "type": "ui_gauge",
        "z": "564e011e075fac28",
        "name": "",
        "group": "c079f1c984b05fe4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ammonia",
        "label": "ºC",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "084f54d093f14b96",
        "type": "ui_chart",
        "z": "564e011e075fac28",
        "name": "",
        "group": "7425084c949fae29",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Sensor Ph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f454422b23522aef",
        "type": "ui_gauge",
        "z": "564e011e075fac28",
        "name": "",
        "group": "7425084c949fae29",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Ph",
        "label": "ºC",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc7aa13711b9e9ec",
        "type": "mqtt in",
        "z": "564e011e075fac28",
        "name": "",
        "topic": "alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8234be649768a71d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "202d8f7f1c434b1b"
            ]
        ]
    },
    {
        "id": "202d8f7f1c434b1b",
        "type": "ui_text",
        "z": "564e011e075fac28",
        "group": "e711f8ea.a9a1d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "out",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 350,
        "y": 620,
        "wires": []
    },
    {
        "id": "e83df2ddadea771c",
        "type": "comment",
        "z": "564e011e075fac28",
        "name": "ESP8266 MQTT Alert & Relay for Katup",
        "info": "",
        "x": 170,
        "y": 560,
        "wires": []
    },
    {
        "id": "e36c8b21a6108e93",
        "type": "ui_switch",
        "z": "564e011e075fac28",
        "name": "Light",
        "label": "switch",
        "tooltip": "",
        "group": "e050424a874efde1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "room/light",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "eb7ce95e50a684fa",
                "cf3a5954b7521194"
            ]
        ]
    },
    {
        "id": "46c226e6b504da0f",
        "type": "link in",
        "z": "564e011e075fac28",
        "name": "link in 1",
        "links": [],
        "x": 175,
        "y": 700,
        "wires": [
            [
                "e36c8b21a6108e93"
            ]
        ]
    },
    {
        "id": "eb7ce95e50a684fa",
        "type": "mqtt out",
        "z": "564e011e075fac28",
        "name": "",
        "topic": "room/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8234be649768a71d",
        "x": 360,
        "y": 700,
        "wires": []
    },
    {
        "id": "cf3a5954b7521194",
        "type": "debug",
        "z": "564e011e075fac28",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "8234be649768a71d",
        "type": "mqtt-broker",
        "name": "PALE Server",
        "broker": "35.225.93.196",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "372add3cda52af51",
        "type": "MySQLdatabase",
        "name": "DATABASE PALE",
        "host": "35.225.93.196",
        "port": "3306",
        "db": "pale_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "bd16d2bb7a66f39a",
        "type": "ui_group",
        "name": "ESP8266 Thermistor NTC MQTT",
        "tab": "dff9603e172e1d75",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c079f1c984b05fe4",
        "type": "ui_group",
        "name": "MQ135",
        "tab": "dff9603e172e1d75",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7425084c949fae29",
        "type": "ui_group",
        "name": "Sensor Ph",
        "tab": "dff9603e172e1d75",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e711f8ea.a9a1d8",
        "type": "ui_group",
        "name": "Control Katup ESP8266",
        "tab": "9f8fbb0c.03d908",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e050424a874efde1",
        "type": "ui_group",
        "name": "LAMP",
        "tab": "1e36cea02d905e42",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dff9603e172e1d75",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f8fbb0c.03d908",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "1e36cea02d905e42",
        "type": "ui_tab",
        "name": "Room",
        "icon": "LAMP",
        "disabled": false,
        "hidden": false
    }
]